.search-input {
    width: 100%;
    max-width: 300px;
    padding: 12px 20px;
    margin: 20px auto; /* Center the input horizontally */
    border: 2px solid #007BFF;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    position: absolute;
    top: 0; /* Adjusted top position */
    left: calc(30% - 150px); /* Shift to the left by 30% of its container minus half of its width */
    z-index: 1; /* Ensure the search input appears above the table */
}

.search-input:focus {
    border-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.search-input::placeholder {
    color: #ccc;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .search-input {
        max-width: none; /* Remove max-width for smaller screens */
        width: calc(100% - 40px); /* Adjust width to fill the container */
        left: 10px; /* Adjusted left position */
        right: 10px; /* Adjusted right position */
    }
}
